<div class="input-group mb-3 mt-5 d-grid gap-3">
        <button class="btn btn-outline-secondary mt-3 border" type="button" id="button-addon1">Button</button>
        <button class="btn btn-outline-secondary mt-3 border" type="button" id="button-addon1">Button</button>
        <button class="btn btn-outline-secondary mt-3 border" type="button" id="button-addon1">Button</button>
        <button class="btn btn-outline-secondary mt-3 border" type="button" id="button-addon1">Button</button>
</div>